# Week 2: Course Project Data Selection  

***Karlie Schwartzwald  
DSC 630 Winter 2022  
Bellevue University***

**Change Control Log:**  

Change#: 1  
Change(s) Made:  Started a list of potential data sources and what we might model with them.  
Date of Change:  12/6/2022  
Author: Karlie Schwartzwald  
Change Approved by: Karlie Schwartzwald  
Date Moved to Production: 12/6/2022

In [1]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Medical Premium Dataset

Found here: https://www.kaggle.com/datasets/tejashvi14/medical-insurance-premium-prediction

In [2]:
df = pd.read_csv('Medicalpremium_dataset.csv')

In [3]:
df.head()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,0,25000
1,60,1,0,0,0,180,73,0,0,0,29000
2,36,1,1,0,0,158,59,0,0,1,23000
3,52,1,1,0,1,183,93,0,0,2,28000
4,38,0,0,0,1,166,88,0,0,1,23000

**About this dataset:** This dataset contains medical history of individuals as well as their corresponding insurance premium price. It has 11 columns and 986 rows. I think this dataset would typically used to create a regression model where PremiumPrice is the target feature. Already very clean data. I believe that "Unbalanced classes" are only a concern for the target feature for a classification model but I'm not totally clear on that.

## Exam Scores Dataset

Found here: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

In [4]:
exam_scores = pd.read_csv('StudentsPerformance.csv')
exam_scores.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

**About this dataset:** This dataset has fewer features, only 8, but has just over 1000 rows. It contains information about students and their corresponding math reading and writing scores. I'm assuming we could do a regression to predict one of the test scores, but it might be more interesting to do a classification model where we use the test scores to predict the class 'parental level of education.' This data is also very clean, but I need to check for balanced classes. If they are imbalanced we could do oversampling to compensate.

## Fetal Health Dataset

Can be found here: https://www.kaggle.com/datasets/andrewmvd/fetal-health-classification

In [5]:
fetal_health = pd.read_csv('fetal_health.csv')
fetal_health.head()

,baseline value,accelerations,fetal_movement,uterine_contractions,light_decelerations,severe_decelerations,prolongued_decelerations,abnormal_short_term_variability,mean_value_of_short_term_variability,percentage_of_time_with_abnormal_long_term_variability,...,histogram_min,histogram_max,histogram_number_of_peaks,histogram_number_of_zeroes,histogram_mode,histogram_mean,histogram_median,histogram_variance,histogram_tendency,fetal_health
0,120.0,0.000,0.0,0.000,0.000,0.0,0.0,73.0,0.5,43.0,...,62.0,126.0,2.0,0.0,120.0,137.0,121.0,73.0,1.0,2.0
1,132.0,0.006,0.0,0.006,0.003,0.0,0.0,17.0,2.1,0.0,...,68.0,198.0,6.0,1.0,141.0,136.0,140.0,12.0,0.0,1.0
2,133.0,0.003,0.0,0.008,0.003,0.0,0.0,16.0,2.1,0.0,...,68.0,198.0,5.0,1.0,141.0,135.0,138.0,13.0,0.0,1.0
3,134.0,0.003,0.0,0.008,0.003,0.0,0.0,16.0,2.4,0.0,...,53.0,170.0,11.0,0.0,137.0,134.0,137.0,13.0,1.0,1.0
4,132.0,0.007,0.0,0.008,0.000,0.0,0.0,16.0,2.4,0.0,...,53.0,170.0,9.0,0.0,137.0,136.0,138.0,11.0,1.0,1.0

**About this dataset:** This one is my favorite of the three. This dataset contains health indicators for fetuses and their corresponding fetal health classification:  1 - Normal, 2 - Suspect, 3 - Pathological. It would be perfect for a multi-class classification problem. It has over 2000 rows and 22 columns. I have the least experience with this dataset so I don't have much more to say about it, but this dataset seems like it has the most potential of the three here.